# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log and temp files
*.log
*.tmp

# Ignore entire folders
build/
dist/
